'use strict';
const express = require('express');
const bodyParser = require('body-parser');

const app = express();
app.use(bodyParser.json());

{{#tables}}
const {{table.name}}Router = require('./routes/{{table.name}}Router.js');
app.use('/{{table.name}}', {{table.name}}Router);
{{/tables}}

app.listen(3000);
