'use strict';
const router = require('express').Router();
const {MysqlUtils} = require('../utils/mysqlUtils');
const auth = require('../utils/auth');

router.use(auth.verifyJWTToken);
router.route('/')
    .get((req, res) => {
        let mysqlUtils = new MysqlUtils('{{host}}', '{{user}}', '{{password}}');
        mysqlUtils.connect()
            .then(() => mysqlUtils.switchDB('{{database}}'))
            .then(() => mysqlUtils.findAll('{{table.name}}'))
            .then((rows) => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify(rows))
            }).catch(err => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify(err));
            });
    })
    .post((req, res) => {
        let params = req.body;
        let mysqlUtils = new MysqlUtils('{{host}}', '{{user}}', '{{password}}');
        mysqlUtils.connect()
            .then(() => mysqlUtils.switchDB('{{database}}'))
            .then(() => mysqlUtils.save('{{table.name}}', params))
            .then(() => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify('success'))
            }).catch(err => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify(err));
            });
    });

router.route('/:id')
    .get((req, res) => {
        let id = req.params.id;
        let mysqlUtils = new MysqlUtils('{{host}}', '{{user}}', '{{password}}');
        mysqlUtils.connect()
            .then(() => mysqlUtils.switchDB('{{database}}'))
            .then(() => mysqlUtils.findOne('{{table.name}}', id))
            .then((row) => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify(row))
            }).catch(err => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify(err));
            });
    })
    .put((req, res) => {
        let params = req.body;
        let id = req.params.id;
        let mysqlUtils = new MysqlUtils('{{host}}', '{{user}}', '{{password}}');
        mysqlUtils.connect()
            .then(() => mysqlUtils.switchDB('{{database}}'))
            .then(() => mysqlUtils.update('{{table.name}}', id, params))
            .then(() => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify('success'))
            }).catch(err => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify(err));
            });
    })
    .delete((req, res) => {
        let id = req.params.id;
        let mysqlUtils = new MysqlUtils('{{host}}', '{{user}}', '{{password}}');
        mysqlUtils.connect()
            .then(() => mysqlUtils.switchDB('{{database}}'))
            .then(() => mysqlUtils.delete('{{table.name}}', id))
            .then(() => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify('success'))
            }).catch(err => {
                mysqlUtils.connection.destroy();
                res.setHeader('Content-Type', 'application/json');
                res.send(JSON.stringify(err));
            });
    });

module.exports = router;
